[mysqld]
datadir=/mysql_5_7_37_read/v_5_7_36/mysql-5.7.36/bld/data
basedir=/mysql_5_7_37_read/v_5_7_36/mysql-5.7.36/bld
plugin_dir=/mysql_5_7_37_read/v_5_7_36/mysql-5.7.36/bld/plugin/
port=3306
socket=/mysql_5_7_37_read/v_5_7_36/mysql-5.7.36/bld/mysql.sock
binlog_checksum=NONE
